.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.projects__title {
  font-size: 40px;
  margin: 15px;
  text-align: center;
}

.projects__description {
  text-align: center;
  font-size: 20px;
}
* {
  outline: thin solid red;
}

.projects__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.projects__list-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.projects__item {
  list-style-type: none;
}

.projects__item-title {
  text-align: center;
}

.projects__item-description {
  line-height: 30px;
  margin: 0 350px;
  text-align: center;
  font-size: 20px;
}

.projects__item-img {
  width: 486px;
  height: 273px;
  margin: 56px;
  object-fit: fill;
  border: 2px solid #6c50b8;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .projects__item-img {
    max-width: 93vw;
    margin: 10px 0;
  }

  .projects__item-description {
    margin: 25px;
  }
  .projects__item-img {
    width: auto;
    box-sizing: border-box;
  }
}
