.picture-modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-modal_is-open {
  visibility: visible;
}

.picture-modal__content {
  display: flex;
  height: 630px;
  width: 1000px;
  background-color: #fff;
  object-fit: contain;
  flex-direction: column;
}

.picture-modal__close-btn {
  right: 0;
  top: 0;
}

.picture-modal__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.picture-modal__description {
  margin: 15px;
  text-align: center;
}
